extends layout

block head
    title="Receta: " + data.name

block content
    div.content
        div.go-back
            a(href="/")="Ir Atras â†"
        h1= data.name
            div.recipe
                div.text
                    h2="Ingredientes"
                    ul
                        each ingredient in data.ingredients
                            li= ingredient
                div.resume
                    p=data.resume
            div.images 
                each image in data.images
                    img(src=image)
                